body {
    height: 100vh;
    display: grid;
    grid-template-areas:
      'header header'
      'content menu'
      'footer footer';
    grid-template-columns: 1fr 12rem;
    grid-template-rows: auto 1fr 3rem;
    
    @media (max-width: 600px) {
      grid-template-areas:
        'header'
        'menu'
        'content'
        'footer';
      grid-template-columns: 1fr;
      grid-template-rows: 5rem auto 1fr 3rem;
    }
  }
  
  
  body > * {
    

  }
  /* header */
  header {
    grid-area: header;
  }
  
 
            /* content */
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: menu;
  }
  
  footer {
    grid-area: footer;
  }
