body {
  font-family: Arial, Verdana, Helvetica;
  margin: 0;
  background-color: #ffffff;
}

/* content */




.button_next {
  float: right;
}

.button_next img {
  width: 50px;
  height: 50px;
}





.content {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 9;
  padding: 10px;
}



.content--1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;

  font-size: 25px;
}

.content__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__kids--1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  box-shadow: 0.7em 0.7em 5px rgba(122, 122, 122, 0.5);
}


.content__kids--2 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 7;
  box-shadow: 0.7em 0.7em 5px rgba(122, 122, 122, 0.5);
}

.head--4 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;

}



.content__kids--1:hover {
  scale: 1.1;
}

.content__kids--2:hover {
  scale: 1.1;
}

.content__course--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  box-shadow: 0.7em 0.7em 5px rgba(122, 122, 122, 0.5);
}

.content__course--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 7;
  box-shadow: 0.7em 0.7em 5px rgba(122, 122, 122, 0.5);
}

.content__course--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 12;
  box-shadow: 0.7em 0.7em 5px rgba(122, 122, 122, 0.5);
}

.content__course--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 12;
  box-shadow: 0.7em 0.7em 5px rgba(122, 122, 122, 0.5);
}

.content__course--2:hover{
  scale: 1.1;
}
 .content__course--3 :hover{
  scale: 1.1;
 }
 .content__course--4:hover {
  scale: 1.1;
}
.content__course--1:hover{
  scale: 1.1;
}
/* форма */
.napoln {
  text-align: justify;
  font-size: 10pt;
}
.napoln h4 {
  text-align: left;
  padding-bottom: 20px;
  font-size: 30pt;
}
.napoln p {
  font-size: 20pt;
}
div.right_col {
  background-color: rgba(20, 18, 18, 0.1);
  padding: 30px;
  margin: 10px auto;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.input {
  font-size: 25px;
}
/* header */
li .logo {
  text-align: left;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-right: 60px;
  margin-left: 20px;
  font-weight: bold;
  position: relative;
  border: 5px solid #E98074;
  border-radius: 15px;
  color: #ffffff;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.header {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 700px;
  color: #ffffff;
}

.header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url(fon.jpg) no-repeat center bottom;
}

.header-text {
  position: fixed;
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  position: relative;
}

.age {
  font-size: 25px;
}
.header{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
  }
}
#panel {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 18px;

}

/* убираем отступы и поля, а также list-style для "ul", 
			 * и добавляем "position:relative" */
#panel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;

  background-color: rgba(20, 18, 18, 0.7);

}

/* применяем inline-block позиционирование к элементам навигации */
#panel ul li {
  margin: 0px -8px 0 0;
  display: inline-block;

}

/* стилизуем ссылки */
#panel a {
  display: block;

  color: #ffffff;
  font-size: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 0px 80px 0px 20px;
}

/* изменяем цвет фона при наведении курсора */
#panel a:hover {
  color: #E98074;
}

#panel ul ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 10;
  background-color: rgba(20, 18, 18, 0.7);
}

/* отображаем выпадающий список при наведении */
#panel ul li:hover>ul {
  display: inherit;

}

/* первый уровень выпадающего списка */
#panel ul ul li {
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
}



/* footer */

.footer {
  background: rgb(0, 0, 0);
  padding-top: 40px;
  color: #ffffff;
  clear: left;
  height: 300px;
}

.footer_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

#footer_panel {
  display: block;
  
  width: 100%;
  font-size: 15px;
}

#footer_panel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  font-weight: bold;
}

#footer_panel ul li {
  margin: 0px -1px 0 0;
  display: inline-block;

}

#footer_panel a {
  display: block;
  color: #ffffff;
  font-size: 100%;
  line-height: 60px;
  text-decoration: none;
  padding: 0px 0px 0px 5px;
}

#footer_panel a:hover {
  color: #E98074;
}

#footer_panel ul ul {
  display: none;
  position: absolute;
  top: 100%;
  font-weight: lighter;
}

#footer_panel ul li>ul {
  display: block;
}

#footer_panel ul ul li {
  display: list-item;
  position: relative;
}

/* maket */
body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'content menu'
    'footer footer';
  grid-template-columns:1fr 12rem;
  grid-template-rows: auto 1fr auto;

  @media (max-width: 400px) {
    grid-template-areas:
      'header'
      'menu'
      'content'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 1fr 3rem;
  }
}




/* header */
header {
  grid-area: header;

}


/* content */
article {
  grid-area: content;
padding: 30px 20px 10px 20px;
text-align: justify;

height: auto;

padding-left: 10%;
padding-right: 10%;
}
.code{
  background-color: #ddd;
  display: block;
  padding: 8px;
}
.bg{
  background-color: rgb(217, 224, 209);
   border-radius:5px;
   padding: 1px;
}
.imgtext{
  width: 60%;
 
}
table td{
  border:1px solid #ddd;
}
.table_img{
width: 100%;

}
.table_text{
  text-align: center;
padding: 10px;
font-size: 15px;
}
aside a:hover {
  color: #E98074;

}

aside a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
}

aside {
  grid-area: menu;
  background-color: #000000;
  float: right;
  padding-left: 15px;
  color: #ffffff;
 padding-right: 5px;
}
.active {
  background-color: #E98074;

}

aside li{
  list-style-type:none;
  padding: 5px 5px 5px 5px;
}

footer {

  grid-area: footer;
}